@media screen and (max-width:1400px) {
    nav img {
        padding-left: 6%;
        /*70*/
    }

    nav .right {
        margin-left: 20%;
        /*280*/
    }



    .header .leftsect {
        padding-left: 6%;
    }

    .header .rightsect {
        padding-left: 36%;
        /*480px*/
    }

    .ad1container {
        padding-left: 6%;
        /*40px*/
    }

    .ad1prev {
        position: absolute;
        left: 11%;
    }

    .ad1mySlides a img {
        width: 95%;
    }

    .section1title {
        padding-left: 6%;
    }

    .section1title a {
        padding-right: 6%;
    }

    .section1 {
        padding-left: 6%;
    }

    .section1 a {
        width: 16%;
        /*200px*/
    }

    /* .section1 img {
        width: 110%;
        height: 80%;
    } */


    .section1 #s1rightarrow,
    #s3rightarrow,
    #s4rightarrow {
        position: absolute;
        right: 4%;
        /*55*/
    }

    .section1 #s1leftarrow,
    #s3leftarrow,
    #s4leftarrow {
        position: relative;
        left: 100px;
    }



    .section1 .s1second {
        padding-left: 6%;
    }

    .section1 .s1second a {
        width: 16%;
        /*220*/
    }



    .ads2 {
        padding-left: 6%;
    }

    .ads2 a img {
        width: 95%;
        /*1300px*/
    }

    .section2title {
        margin-left: 6%;
    }

    .section2 {
        padding-left: 6%;
    }

    .section2 a img {
        width: 90%;
        /*210px*/
        height: 95%;
    }

    .s2second {
        margin-left: 80%;
    }

    .s2second a img {
        width: 220px;
        height: 220px;
    }

    #s2rightarrow {
        position: absolute;
        right: 4%;
        /*60*/
    }

    /* #s2leftarrow {
        display: none;
        position: absolute;
        left: 4%;
    } */

    .premiere {
        padding-left: 6%;
    }


    .footer1 {
        padding-left: 6%;
    }

    .footer1 button {
        margin-left: 14%;
    }

    .footer3 {
        padding: 0 6%;
    }
}